@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
h2{
    font-family: 'Audiowide', sans-serif;
    margin: 0%;
    text-align : left;
    color : rgb(221, 218, 223);
}
body
{
    
    background: linear-gradient(
    to bottom,
    #300057 10%,
    #000000 100%
    
);
body
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
